[Unit]
Description=StockScanner main pipeline
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/dev/stock-scanner
ExecStart=/usr/bin/python3 /home/pi/dev/stock-scanner/main.py --tickers-url https://raw.githubusercontent.com/ChernyshovYuriy/Financing/refs/heads/main/data/can_tickers_swing_universe
Nice=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target